*{
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    font-size: 1rem;
    /* font-weight: 500; */
    /* font-style: normal; */
    overflow: hidden;
    min-width: 180px;
    box-sizing: border-box;
}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#photo-credits, #photo-credits > a{
    color: white;
    font-weight: bold;
}

#photo-credits{
    background-color: rgba(148, 148, 148, 0.2);
    padding: 10px;
    border-radius: 1rem;
    position: absolute;
    bottom: 2%;
    text-align: center;
}

#sign-form{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 150%;
}

#sign-form > p, #sign-form > h3, em{
    font-size: 1.2em;
}

#input-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1.2rem;
    box-shadow: 0px 15px 20px lightblue;
    padding: 30px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

#input-form > p{
    grid-column: span 2;
    font-size: 2rem;
}

#create-account{
    padding: 10px;
    background-color: rgba(88, 106, 18, 0.867);
    color: white;
    font-size: 1.2rem;
    width: 40%;
    border-radius: 1rem;
    border: 1px outset black;
}

#sign-form > p > a{
    color: black;
}

#sign-form > p > a:hover{
    color: green;
    text-decoration: none;
}

label{
    font-size: 1.2rem;
}

input{
    padding: 5px;
    border-radius: 0.35rem;
    border: 1px solid lightslategrey;
    background-color: whitesmoke;
}

input:hover, button:hover{
    cursor: pointer;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 1px 5px 5px blue;
}

#user-password:focus, #confirm-password:focus{
    border: 1px solid red;
    box-shadow: 1px 5px 5px red;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 30px;
    padding: 30px;
    bottom: 30%;
    min-width: 100%;
}

#logo{
    height: 180px;
}

#logo-text{
    color: whitesmoke;
    font-size: 3rem;
    letter-spacing: 10px;
}